body {
    background-color: hsl(200, 40%, 20%);
    color: whitesmoke;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}

.header {
    background-color: hsl(200, 40%, 40%);
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    padding-top: 20px;

    height: 100px;
}

.main {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.btn {
    background-color: hsl(200, 40%, 40%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: solid white 2px;
}

.btn:hover {
    background-color: hsl(200, 40%, 10%);
}

.form {
    height: fit-content;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-evenly;
}

.form-piece {
    padding: 5px;
}

input {
    background-color: hsl(200, 20%, 80%);
    border: solid 2px hsl(200, 40%, 40%);
    margin-right: 20px;
}

#player-form {
    display: none;
}

#formSubmit {
    background-color: hsl(200, 20%, 80%);
    border: solid hsl(200, 40%, 10%);
    font-weight: 600;
    color: hsl(200, 40%, 10%);
    padding: 5px 10px;
}

.board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    
}

.gameslot {
    background-color: hsl(200, 40%, 10%);
    height: 200px;
    width: 200px;
    border: dashed hsl(200, 20%, 80%) 2px;
    font-size: 10rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameslot:hover {
    background-color: hsl(200, 40%, 20%);
}

.winner {
    color: hsl(140, 30%, 50%);
}

.loser {
    color: hsl(350, 40%, 50%)
}